dissertation.toc
dissertation.synctex.gz
dissertation.run.xml
dissertation.out
dissertation.lot
dissertation.log
dissertation.lof
dissertation.fls
dissertation.fdb_latexmk
dissertation.blg
dissertation.bcf
dissertation.bbl
dissertation.aux
